@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap'); 
* {
    margin:0;
}

body {
    font-family: 'Plus Jakarta Sans';
}

h1{
    font-size: 50px; 
    color: white;
    text-align: left;
    }

.containers{
display: flex;
background-color:#7580BF ;
height: 60px;
border: 2px solid;
border-color: white;
flex-direction: row-reverse;

}


.acceuil{
    display: flex;
    font-size: 20px;
    background-color:#7580BF ;
    height: 91vh;
    flex-direction: row;
    
 .acceuil-left {
        width: 50%;
        img {
            width: 200px;
            justify-content: center;
            align-items: center;
            
        }
    }
    .acceuil-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: space-around;
         } 

        p {
            width: 55%;
            color: white;
            text-align: left;
        }

        }
    .nav-acceuil{
       display: flex; 
       align-items: end;
       }

    .acceuil-bouton{
     background-color: #F28DBC; 
     border-radius: 12px;  
     color: white;
     margin-left: 50px;

     }
    .card-img_acceuil{
            align-items: center;
            background-color: white;  
            border-radius: 12px;
            height: 200px;
            width: 200px;
            float: right;
            justify-content: flex-end;
            margin-bottom: 23px;
           }
  
.icon-plume{
    
}

.competence {
    /* display: flex; */
    /* background-color: #F2F2F2  ; */
    /* height: 60px; */
    /* border: 2px solid; */
    /* text-align: center;
    align-items: center; */
}


.header-section {
    width: 100%;
    height: 100px;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        width: 100%;
        text-align: center;
        font-size: 50px;
        color:#292D73;
        font-size: 200%;
    }

}

.main-section_competence {
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    height: 150px;
   
}
.icon-competence{

    height: 50px;
    width: 50px;
    
}



/*

    .icon-photoshop{
        display: flex;
        height: 50px;
        width: 50px; 
        margin-left: 50px;
        margin-bottom: -200px;
    }
    
    .icon-after {
        display: flex;
        height: 50px;
        width: 50px; 
        margin-left: 50px;
        margin-bottom: -200px;
       
    }
    
    .indesign{
        display: flex;
        height: 50px;
        width: 50px; 
        margin-left: 50px;
        margin-bottom: -200px;
    }
    
    .icon-mot{
        display: flex;
        height: 50px;
        width: 50px; 
        margin-left: 50px;
        margin-bottom: -200px; 
        left: 30px;
    } */
  
    
    /* .header-section1{
    h3{
        
        color:#292D73;
        text-align: center;
        width: 100%;
        font-size: 50px;
        color:#292D73;
        font-size: 200%;
        
    }   

} */


.header-section1{
    h3{
        
        color:#292D73;
        text-align: center;
        width: 100%;
        font-size: 50px;
        color:#292D73;
        font-size: 200%;
        background-color: #F2F2F2;
        height: 60px;
        
    }

    .bloc-travaux {
      display: flex;
      flex-direction: row-reverse; 
      justify-content: space-around;
      align-items: center;
     }

h4{
    color:#292D73;
    text-align: center;
    width: 100%;
    font-size: 50px;
    font-size: 200%;
    background-color: #F2F2F2;
    height: 60px;
    

}

}
 .bloc{
    background-color: #292D73;
    height: 200px;
    width: 150px;
 }


 .bloc1{
    background-color: #292D73;
    height: 200px;
    width: 150px;
 }


 .bloc2{
    justify-content: space-around;
    background-color: #292D73;
    height: 150px;
    width: 100px;
 }



.carre-icon {
    background-color: #292D73;
    width: 60px;
    height: 60px;
    border-radius:20px 20px 0px 20px;
}
.carre-icon2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292D73;
    width: 65px;
    height: 65px;
    border-radius:20px;
}
